@media (orientation: portrait) {
    .header {
        height: 40vh;
    }
}
@media (max-width: 1024px) {
    .aboutMe,
    .skills {
        padding: 20px 0px;
    }
    .aboutMe__wrapper,
    .skills__wrapper {
        margin: 0;
    }
}
@media (max-width: 763px) {
    .hamburger {
        display: inline-block;
    }

    .nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .hamburger,
    .navigation {
        -webkit-transition: -webkit-transform 0.3s 0.1s ease-in-out;
        transition: -webkit-transform 0.3s 0.1s ease-in-out;
        transition: transform 0.3s 0.1s ease-in-out;
        transition: transform 0.3s 0.1s ease-in-out,
            -webkit-transform 0.3s 0.1s ease-in-out;
    }

    .navigation {
        height: 100vh;
        width: 250px;
        position: absolute;
        margin: 50px 0 0 0;
        top: 0;
        left: 0;
        background-color: var(--color-white);
        -webkit-transform: translateX(-250px);
        transform: translateX(-250px);
    }

    .navigation__item {
        margin-bottom: 20px;
    }
    .nav--active {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    .navigation__list {
        display: inline-block;
    }

    .aboutMe__wrapper,
    .skills__wrapper,
    .contact__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .aboutMe__wrapper {
        text-align: center;
    }
    .aboutMe__foto {
        margin: 20px auto;
    }
    .aboutMe__bio {
        border-right: none;
        border-top: 5px var(--color-orange) dotted;
        border-bottom: 5px var(--color-orange) dotted;
    }
    .aboutMe__bio,
    .aboutMe__text {
        padding: 20px 0;
    }
    .skills__wrapper {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .skills__image {
        width: 100%;
        padding: 20px 0;
    }
    .skills__image:nth-child(2) {
        border-top: 5px var(--color-orange) dotted;
        border-bottom: 5px var(--color-orange) dotted;
        border-right: none;
        border-left: none;
    }

    .contact__left {
        margin-left: 0;
    }
    .contact__left--text {
        width: auto;
        margin: 20px 0;
    }
}

@media (max-width: 520px) {
    .header__title {
        font-size: 5rem;
    }
    .header span,
    .hello__title {
        font-size: 2.5rem;
    }
    .portfolio__wrapper {
        margin: 20px 0;
    }
}
@media (max-width: 400px) {
    .hello__wrapper--btn {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
